<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>ydyl后台管理</title>
		<meta name="keywords" content="ydyl后台管理" />
		<meta name="description" content="ydyl后台管理" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="__PUBLIC__/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" /> -->

		<!-- ace styles -->

		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="__PUBLIC__/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="__PUBLIC__/assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="__PUBLIC__/assets/js/html5shiv.js"></script>
		<script src="__PUBLIC__/assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<include file='Common:head'/>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>
				
				<include file='Common:left'/>		
				

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">ydyl后台</a>
							</li>

							<li>
								<a href="#">图片管理</a>
							</li>
							<li class="active">图片列表</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="content col-md-12 col-sm-12">
						            <div class="panel panel-primary">
						                <div class="panel-heading">
						                    <h3 class="panel-title">图片列表</h3>
						                </div>						              							            
							            <div class="table-responsive">
							             	<div class="container-fluid">
											    <div class="row-fluid">
											        <div class="span12">										
											            <form action="/Admin/Img/index" method="get">
												            <div class="table-responsive">
												                <table class="table table-bordered table-hover">
												                    <thead >
													                    <tr >
													                        <th class="center">ID</th>
													                        <th class="center">编辑人</th>
													                        <th class="center">图片来源</th>
													                        <th class="center">标题</th>
													                        
													                       
													                        <!-- <th class="center">所属分类</th> -->
													                       
													                        <th class="center">发布时间</th>
													                        <th class="center">操作</th>													                        													                        
													                    </tr>
												                    </thead>
												                    <tbody>

													                    
													                    <foreach name='news' item='v'>
                    <tr align='center'>
                        <td>{$v.id}</td>
                        <td>{$v.editorname}</td>
                        <td>{$v.comefrom}</td>

                        <td width="25%">
                        	
                           {$v.title}
     
                        </td>
                        
                       <!--  <td><if condition="$v['status']==1">
                 
                 	已通过
              </if>
              未审核



                        </td> -->
                        <!-- <td>
                                             <foreach name='type' item='t'>   	
                                              <if condition="$v['tid']===$t['id']">
                                         {$t.name}
                                      </if>
                        </foreach>
                        </td> -->
                        <td>{$v.intime|date='y-m-d H:i',###}</td>
                        
                        <td>

                        
                            <a href="http://{$domain}{$v.himg}" class='btn btn-warning btn-xs'>查看</a> 
                            <a href="{:U('Admin/Img/delimg',array('id'=>$v['id']))}" class='btn btn-danger btn-xs'>删除</a> 
                        </td>
                    </tr> 

             </foreach>
													                   
													             		<tr class='bg-success'>
													               		 	<td colspan='9'> 
														               		 	         {$page}  
													               		 	</td>
													            		</tr>
													             		<tr class="danger">
													                    </tr>
												                	</tbody>
												            	</table>
															</div>
											    		</form>
											        </div>
											    </div>
											</div>
							            </div>						
						        	</div>
						        </div>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
				
				<include file='Common:right'/>
				
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script src="__PUBLIC__/assets/js/jquery-2.0.3.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
			
			$(function(){
				$('.nav-list>li').eq(2).addClass('open');
				$('.nav-list>li').eq(2).addClass('active');
				$('.nav-list>li>.submenu').eq(2).slideDown();

				$('.close-canvas').click(function () {
					$('#my-canvas').hide();
				});
				$('.bb').click(function () {
					$('#my-canvas').show();
				});
				$('.yesnot').on("click",function () {
					var yesnot = $('.yesnot').prop('checked');
					console.log(yesnot);
					if(yesnot == true){
						$("#video").css("visibility","visible");
					}else{
						$("#video").css("visibility","hidden").attr("disabled","disabled");
					}
				})

				
					// 组装数据
					// var data = $('.btn-lg').attr('imgid');
					// $.ajax({
					// 	url: '/Admin/News/addnew',
					// 	type: 'post',
				 //        data: data,
				 //        dataType: 'json',
				 //        success: function (data) {
				 //        	console.log(data);
				 //        }
					// });
				})
			
			
			$.ajax({
			url:"{:U('Admin/News/type')}",
			success:function (msg) {
				var msg = JSON.parse(msg);
				console.log(msg);
				var firstSelect = $("#firstSelect");
				var secondSelect = $("#secondSelect");
				for(var first of msg){
					var option1 = $("<option value="+ first.id +"></option>");
					option1.html(first.name);
					firstSelect.append(option1);
				}
				firstSelect.on("change",function () {
					var firstVal = firstSelect.val();
					for(var first of msg){
						console.log(first);
						if(firstVal == first.id){
							secondSelect.empty();
							for(var second of first.next){
                var option3 = $("<option value="+ second.id +"></option>");
                option3.html(second.name);
                secondSelect.append(option3);
              }
						}
					}
				})
			}
		})



			window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='__PUBLIC__/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->

		<script src="__PUBLIC__/assets/js/ace-elements.min.js"></script>
		<script src="__PUBLIC__/assets/js/ace.min.js"></script>
		<script>
			$(function(){
				$('.nav-list>li').eq(2).addClass('open');
				$('.nav-list>li').eq(2).addClass('active');
				$('.nav-list>li>.submenu').eq(2).slideDown();
			})
		</script>
		

		<!-- inline scripts related to this page -->
	
</body>
</html>
