@charset "UTF-8";
.daohang{
  width: 100%;
  min-height: 90px;
  background: #0080de;
}
.daohangNav{
  width: 1200px;
  height: 100%;
  margin: 0px auto;
}
.daohangNav>li{
  float: left;
  margin-left: 20px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 2px solid #0080de;
}
.daohangNav>li:hover{
  border-bottom: 2px solid #fff;
}
.daohangNav>li>a{
  color: #fff;
  font-size: 17px;
}
.daohangNav>.more{
  float:left;
  width: 70px;
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff !important;
  border-radius: 2px;
  text-align: center;
  margin-left: 35px;
  margin-top: 6px;
  cursor: pointer;
}
.daohangNav>.bian{
  border-bottom: 2px solid #fff;
}
.biana{
  font-weight:bold;
}
