<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>金诺华后台管理 添加节点</title>
		<meta name="keywords" content="金诺华后台管理 添加节点" />
		<meta name="description" content="金诺华后台管理 添加节点" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="__PUBLIC__/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" /> -->

		<!-- ace styles -->

		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="__PUBLIC__/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="__PUBLIC__/assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="__PUBLIC__/assets/js/html5shiv.js"></script>
		<script src="__PUBLIC__/assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<include file='Common:head'/>
		<!--<?php include("include/head.php");  ?>-->


		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>
				
				<include file='Common:left'/>
				<!--<?php include("include/left.php");  ?>-->
				

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">后台首页</a>
							</li>

							<li>
								<a href="#">RBAC</a>
							</li>
							<li class="active">添加节点</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>



					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								
								<!-- PAGE CONTENT BEGINS -->
								<div class="content col-md-12 col-sm-12">
									<center>
										<div class="container-fluid">
	<div class="row-fluid" >
		<div class="span12" >
			<h1>添加节点</h1>
			<form class="form-horizontal" action="{:U('Admin/Rbac/addNodeHandle')}" method="post">
				<div class="control-group">
					 <label class="control-label" for="inputEmail">{$type}名称</label>
					<div class="controls">
						<input style="width:230px; height:40px;" id="inputEmail" type="text" name='name'/>
					</div>
				</div>
				<div class="control-group">
					 <label class="control-label" for="inputPassword">{$type}描述</label>
					<div class="controls">
						<input style="width:230px; height:40px;" id="inputPassword" type="text" name='title'/>
					</div>
				</div>
				<div class="control-group">
					 <label class="control-label" for="inputPassword">排序</label>
					<div class="controls">
						<input style="width:230px; height:40px;" id="inputPassword" type="text" name='sort' value="1"/>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						 <label class="checkbox">是否开启: <input name='status' type="radio" checked="checked" value="1"> 开启 <input name='status' type="radio" value="0"/>关闭 </label> 
                         <input type="hidden" name='pid' value="{$pid}">
                         <input type="hidden" name='level' value="{$level}">
						 <button style="width:230px; height:40px;" type="submit" class="btn btn-success">保存添加</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
									</center>																											
								</div>

																										
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
				
				
				<include file='Common:right'/>
				<!--<?php include("include/right.php");  ?>-->
				
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script src="__PUBLIC__/assets/js/jquery-2.0.3.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='__PUBLIC__/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->

		<script src="__PUBLIC__/assets/js/ace-elements.min.js"></script>
		<script src="__PUBLIC__/assets/js/ace.min.js"></script>
		<script>
			$(function(){
				$('.nav-list>li').eq(1).addClass('open');
				$('.nav-list>li').eq(1).addClass('active');
				$('.nav-list>li>.submenu').eq(1).slideDown();
				
			})
			
		</script>

		<!-- inline scripts related to this page -->
	<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
