<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>一带一路产业大联盟</title>
  <link rel="stylesheet" href="__PUBLIC__/source/libs/reset.css">
  <link rel="stylesheet" href="__PUBLIC__/css/indexthree.css">
  <!-- <link rel="stylesheet" href="__PUBLIC__/share/css/share.css" type="text/css" /> -->
  <script type="text/javascript" src="__PUBLIC__/source/libs/jquery.js"></script>
  <!-- <script src="__PUBLIC__/share/js/share.js" type="text/javascript"></script> -->
  <script type="text/javascript" src="__PUBLIC__/js/indexthree.js"></script>
</head>
<body>
  <!-- 导航栏 -->
  <include file='Common:daohang'/>
  <!-- 一带一路建设网标题 -->
  <include file='Common:denglu'/>
  <!-- 蓝色横线 -->
  <hr style=" height:2px;border:none;border-top:2px solid #007fdd;">
  <!-- 搜索框及前面导航 -->
  <div class="newSearch">
    <span class="yitype"><a href="" target="_blank"></a>></span><span class="ertype"></span><span>&nbsp;正文</span>
    <input type="text" class="search" placeholder="请输入搜索关键字">
  </div>
  <!-- 题目来源栏 -->
  <div class="titleSource">
    <p class="blackTitle"></p>
    <div class="dateTime">
      <span class="phptime"></span>
      <span class="from">来源:</span>
      <span class="from1">中国人民网</span>
      <div class="titleshare">
        <!-- <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div> -->

      </div>
    </div>
  </div>
  <div class="newMain clear">
    <div class="newMainleft">
      <div class="newDetial">
        <!-- <div class="newsImg"></div> -->
        <div class="contentWrap">
          {$news.message}
        </div>
      </div>
      <!-- 相关新闻 -->
      <div class="moreNew">
        <div class="nearnew">相关新闻</div>
        <!-- 单条新闻 -->
        <div class="detialWrap">
          <!-- <div class="singleNew">
            <p>一定选最好的黄金地段，雇发过设计师，建就得建最高档次的公寓，电梯直接入户，户型最小怎么也得四百平米</p>
            <div class="singleNewBottom">
              <div class="singleNewBottomImg">

              </div>
              <div class="singleNewBottomDes">
                <p>一定得选最好的黄金地段，雇法国设计师，建就得建最高档次的公寓！电梯直接入户，户型最小也得四百平米，什么宽带呀，光缆呀，卫星呀能给他接的全给他接上，楼上边有花园(儿)，楼里边有游泳池，楼子里站一个英国管家，戴假发，特绅士的那种，业主一进门(儿)，甭管有事(儿)没事，(儿)都得跟人家说may I help you sir(我能为您作点什么吗?)？一口地道的英国伦敦腔(儿)，倍(儿)有面子！社区里再建一所贵族学校，教材用哈佛的，一年光学费就得几万美金，再建一所美国诊所(儿)，二十四小时候诊，就是一个字(儿)贵，看感冒就得花个万八千的！</p>
                <div class="newTime">
                  <span class="time">2018-04-18 17:45:24</span>
                  <span class="share"></span>
                </div>
              </div>
            </div>
          </div> -->
        </div>

        <p class="moreShow">显示更多</p>
      </div>
    </div>
    <div class="newMainright">
      <div class="newWrap1">
        <!-- 二级导航 -->
        <!-- <div class="secondNav">
          <div class="secondTitle">国内新闻</div>
          <div class="secondImg">
            <div class="secondImgDes">
              习近平将出席亚洲博鳌论坛开幕式
            </div>
          </div>
          <ul class="secondNew">
            <li><a href="">一定得选最好的黄金地段，雇法国设计师</a></li>
            <li><a href="">一定得选最好的黄金地段，雇法国设计师</a></li>
            <li><a href="">一定得选最好的黄金地段，雇法国设计师</a></li>
            <li><a href="">一定得选最好的黄金地段，雇法国设计师</a></li>
            <li><a href="">一定得选最好的黄金地段，雇法国设计师</a></li>
            <li><a href="">一定得选最好的黄金地段，雇法国设计师</a></li>
          </ul>
        </div> -->
      </div>

      <!-- 广告 -->
      <div class="smallAd">

      </div>
    </div>
  </div>
  <!-- 最下面备案表 -->
  <div class="beian">
    <div class="beianWrap">
      <div class="beianOne">
        <span class="zhidao">指导单位&nbsp;:&nbsp;人民日报社 中国报业协会</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="zhuban">主办单位&nbsp;:&nbsp;中国报业 中国金天北京网络科技中心</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="yunying">运营支持&nbsp;:&nbsp;北京沐宏宇企业策划中心</span>
      </div>
      <div class="beianTwo">
        <span class="banquan">版权所有&nbsp;:&nbsp;中国金天国际集团 中国金天北京网络科技中心</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>法律顾问: 北京市连纵律师事务所</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>京ICP备14028561号-3</span>
      </div>
      <div class="erweima">

      </div>
    </div>
  </div>
</body>
</html>
<script type="text/javascript">
  $(function () {
    // var url = window.location.href
    // var title = document.title;
    // console.log(title);
    // $(".titleshare").socialShare({
    //     // content: '',
    //     url:url,
    //     titile:title
    // });

  $(".search").keyup(function(event) {
    if (event.keyCode == 13) {
      var search = $(this).val();
      if(search != ""){
        console.log(search);
        $.ajax({
          url:"http://www.cupoftea.cn/Home/Index/searchnews",
          data:{"keywords":search},
          dataType:"json",
          type:"post",
          success:function (msg) {
            console.log(msg);
            var msg = JSON.stringify(msg);
            localStorage.setItem("search",msg);
            window.open("http://www.cupoftea.cn/Home/Index/indexsearch");
          }
        })
      }
    }
  })
    })
</script>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"6","bdPos":"right","bdTop":"100"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
