<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>一带一路产业大联盟</title>
  <link rel="stylesheet" href="__PUBLIC__/source/libs/reset.css">
  <link rel="stylesheet" href="__PUBLIC__/css/logistics.css">
  <script type="text/javascript" src="__PUBLIC__/source/libs/jquery.js"></script>
</head>
<body>
  <!-- 顶部图片 -->
  <div class="fenjin"></div>
  <!-- 一带一路建设网标题 -->
  <!-- 导航栏 -->
  <include file='Common:daohang'/>
  <include file='Common:denglu'/>
  <!-- 蓝色横线 -->
  <hr style=" height:2px;border:none;border-top:2px solid #007fdd;">
  <!-- 搜索框横栏 -->
  <div class="searchHeng">
    <input type="text" class="search" placeholder="请输入搜索关键字">
    <ul class="language">
      <li> عربي </li>
      <li>Tiếng Việt</li>
      <li>한국어.</li>
      <li>日本語</li>
      <li>ภาษาไทย</li>
      <li>русский</li>
      <li>eesti</li>
      <li>български</li>
      <li>polskim</li>
      <li>......</li>
    </ul>
  </div>
  <!-- 水运陆运横条 -->
  <div class="yunshu">
    <ul class="clear">
      <li class="yunshuli liclass">水运</li>
      <li class="yunshuli">陆运</li>
      <li class="yunshuli">空运</li>
      <li class="yunshuli">火车运输</li>
    </ul>
  </div>
  <div class="yunshuWrap">
    <div class="highSearch clear">
      <input type="text" placeholder="请输入项目名称">
      <input type="text" placeholder="请输入国家名称">
      <input type="text" placeholder="请输入单号">
      <div class="highSearchButton"></div>
    </div>
    <!-- table表格 -->
    <div class="tableDiv">
      <ul class="tableTitle">
        <li class="one">编号</li>
        <li class="two">项目名称</li>
        <li class="three">起始地</li>
        <li class="four">目的地</li>
        <li class="five">物流公司</li>
        <li class="six">单号</li>
        <li class="seven">进度</li>
        <li class="eight">异常</li>
        <li class="nine">操作</li>
      </ul>
      <ul class="tableline">
        <li class="one">001</li>
        <li class="two">生活物品</li>
        <li class="three">中国广州深圳市</li>
        <li class="four">沙特阿拉伯</li>
        <li class="five">中国国际物流公司</li>
        <li class="six">123456789</li>
        <li class="seven">运送中</li>
        <li class="eight">无异常</li>
        <li class="nine">查看详情</li>
      </ul>
      <ul class="tableline">
        <li class="one">001</li>
        <li class="two">生活物品</li>
        <li class="three">中国广州深圳市</li>
        <li class="four">沙特阿拉伯</li>
        <li class="five">中国国际物流公司</li>
        <li class="six">123456789</li>
        <li class="seven">运送中</li>
        <li class="eight">无异常</li>
        <li class="nine">查看详情</li>
      </ul>
      <ul class="tableline">
        <li class="one">001</li>
        <li class="two">生活物品</li>
        <li class="three">中国广州深圳市</li>
        <li class="four">沙特阿拉伯</li>
        <li class="five">中国国际物流公司</li>
        <li class="six">123456789</li>
        <li class="seven">运送中</li>
        <li class="eight">无异常</li>
        <li class="nine">查看详情</li>
      </ul>
      <ul class="tableline">
        <li class="one">001</li>
        <li class="two">生活物品</li>
        <li class="three">中国广州深圳市</li>
        <li class="four">沙特阿拉伯</li>
        <li class="five">中国国际物流公司</li>
        <li class="six">123456789</li>
        <li class="seven">运送中</li>
        <li class="eight">无异常</li>
        <li class="nine">查看详情</li>
      </ul>
      <ul class="tableline">
        <li class="one">001</li>
        <li class="two">生活物品</li>
        <li class="three">中国广州深圳市</li>
        <li class="four">沙特阿拉伯</li>
        <li class="five">中国国际物流公司</li>
        <li class="six">123456789</li>
        <li class="seven">运送中</li>
        <li class="eight">无异常</li>
        <li class="nine">查看详情</li>
      </ul>
      <ul class="tableline">
        <li class="one">001</li>
        <li class="two">生活物品</li>
        <li class="three">中国广州深圳市</li>
        <li class="four">沙特阿拉伯</li>
        <li class="five">中国国际物流公司</li>
        <li class="six">123456789</li>
        <li class="seven">运送中</li>
        <li class="eight">无异常</li>
        <li class="nine">查看详情</li>
      </ul>
      <ul class="tableline">
        <li class="one">001</li>
        <li class="two">生活物品</li>
        <li class="three">中国广州深圳市</li>
        <li class="four">沙特阿拉伯</li>
        <li class="five">中国国际物流公司</li>
        <li class="six">123456789</li>
        <li class="seven">运送中</li>
        <li class="eight">无异常</li>
        <li class="nine">查看详情</li>
      </ul>
      <ul class="tableline">
        <li class="one">001</li>
        <li class="two">生活物品</li>
        <li class="three">中国广州深圳市</li>
        <li class="four">沙特阿拉伯</li>
        <li class="five">中国国际物流公司</li>
        <li class="six">123456789</li>
        <li class="seven">运送中</li>
        <li class="eight">无异常</li>
        <li class="nine">查看详情</li>
      </ul>
    </div>
    <!-- 分页 -->
    <div class="fenye">

    </div>
  </div>
</body>
</html>
<script type="text/javascript">
  $(function(){
    $(".nine").on("click",function () {
      window.location.href = "http://www.cupoftea.cn/Home/Index/urgent";
    })
    $(".yunshu>ul>li").on("click",function () {
      $(this).addClass("liclass").siblings().removeClass("liclass");
    })
  })
</script>
