<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>一带一路产业大联盟</title>
  <link rel="stylesheet" href="__PUBLIC__/source/libs/reset.css">
  <link rel="stylesheet" href="__PUBLIC__/css/urgent.css">
  <script type="text/javascript" src="__PUBLIC__/source/libs/jquery.js"></script>
</head>
<body>
  <!-- 顶部图片 -->
  <div class="fenjin"></div>
  <!-- 一带一路建设网标题 -->
  <include file='Common:denglu'/>
  <!-- 蓝色横线 -->
  <hr style=" height:2px;border:none;border-top:2px solid #007fdd;">
  <!-- 搜索框横栏 -->
  <div class="searchHeng">
    <div class="detialNav1">
      <span><a href="">水运&nbsp;></a></span>
      <span><a href="">物资大流通&nbsp;></a></span>
      <span><a href="">详情</a></span>
    </div>
    <input type="text" class="search" placeholder="请输入搜索关键字">
  </div>
  <div class="zhuangtai">

  </div>
  <div class="urgentChuli">

  </div>
  <div class="chuliDetial">

  </div>
</body>
</html>
