<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>金诺华后台管理</title>
		<meta name="keywords" content="金诺华后台管理" />
		<meta name="description" content="金诺华后台管理" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="__PUBLIC__/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" /> -->

		<!-- ace styles -->

		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="__PUBLIC__/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="__PUBLIC__/assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="__PUBLIC__/assets/js/html5shiv.js"></script>
		<script src="__PUBLIC__/assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<include file='Common:head'/>


		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>
				
				<include file='Common:left'/>
				

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">后台首页</a>
							</li>

							<li>
								<a href="#">设置</a>
							</li>
							<li class="active">验证码设置</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>


					
					<div class="page-content"><!-- /.page-content -->
						<div class="row">
							<div class="col-xs-12">
								
								<!-- PAGE CONTENT BEGINS -->
								<div class="content col-md-12 col-sm-12">
						            <div class="panel panel-primary">
						                <div class="panel-heading">
						                    <h3 class="panel-title">验证码设置</h3>
						                </div>						  
						            <div class="table-responsive">
						             	<div class="container-fluid">
										    <div class="row-fluid">
										        <div class="span12">
										
										            <form action="{:U(GROUP_NAME.'/System/updateVerify')}" method="post">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th  class="pull-right" align=right>
                            验证码配置名称
                        </th>
                        <th >
                            验证码配置信息
                        </th>
                        
        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align=right>
                             验证码长度：
                        </td>
                        <td>
                           <input type="text" name="VERIFY_LENGTH" value="{$Think.config.VERIFY_LENGTH}" >
                        </td>
                        
                    </tr>
                    <tr  >
                        <td align=right>
                             验证码图片宽度(像素)：
                        </td>
                        <td>
                        <input type="text" name="VERIFY_WIDTH" value="{$Think.config.VERIFY_WIDTH}" >
                        </td>
                        
                    </tr>
                    <tr  >
                        <td align=right>
                             验证码图片高度(像素)：
                        </td>
                        <td>
                            <input type="text" name="VERIFY_HEIGHT" value="{$Think.config.VERIFY_HEIGHT}" >
                        </td>
                       
                    </tr>
                    <tr  >
                        <td align=right>
                             验证码背影颜色(16进制色值)：
                        </td>
                        <td>
                             <input type="text" name="VERIFY_BGCOLOR" value="{$Think.config.VERIFY_BGCOLOR}" >
                        </td>
                        
                    </tr>
                    <tr >
                        <td align=right>
                              验证码种子：
                        </td>
                        <td>
                            <input type="text" name="VERIFY_SEED" value="{$Think.config.VERIFY_SEED}" >
                        </td>
                       
                    </tr>


                    <tr  >
                        <td align=right>
                             验证码字体文件：
                        </td>
                        <td>
                            <input type="text" name="VERIFY_FONTFILE" value="{$Think.config.VERIFY_FONTFILE}" >
                        </td>
                        
                    </tr>

                    <tr >
                        <td align=right>
                             验证码字体大小：
                        </td>
                        <td>
                           <input type="text" name="VERIFY_SIZE" value="{$Think.config.VERIFY_SIZE}" >
                        </td>
                        
                    </tr>

                    <tr  >
                        <td align=right>
                             验证码字体颜色(16进制色值)：
                        </td>
                        <td>
                           <input type="text" name="VERIFY_COLOR" value="{$Think.config.VERIFY_COLOR}" >
                        </td>
                        
                    </tr>
                    <tr  >
                        <td align=right>
                              SESSION识别名称：
                        </td>
                        <td>
                          <input type="text" name="VERIFY_NAME" value="{$Think.config.VERIFY_NAME}" >
                            
                        </td>
                        
                    </tr>


                    <tr  >
                        <td align=right>
                           存储验证码到SESSION时使用函数：
                        </td>
                        <td>
                        <input type="text" name="VERIFY_FUNC" value="{$Think.config.VERIFY_FUNC}" >
                        </td>
                        
                    </tr>

                    
                    


                     <tr class="danger">
                        <td colspan="2" align="center">
                            <input type="submit" class="btn btn-danger btn-lg" value="保存设置">
                        </td>
                        
                        
                    </tr>
                    
                </tbody>
            </table>

        </form>
										        </div>
										    </div>
										</div>
						            </div>
						
						        </div>										
								<!-- PAGE CONTENT ENDS -->								
							</div><!-- /.col -->


						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
				
				
				
				<include file='Common:right'/>
				
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script src="__PUBLIC__/assets/js/jquery-2.0.3.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='__PUBLIC__/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
			$(function(){
				$('.nav-list>li').eq(0).addClass('open');
				$('.nav-list>li').eq(0).addClass('active');
				$('.nav-list>li>.submenu').eq(0).slideDown();
			})
		</script>
		<script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->

		<script src="__PUBLIC__/assets/js/ace-elements.min.js"></script>
		<script src="__PUBLIC__/assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->

	</body>
</html>
