<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>一带一路产业大联盟</title>
  <link rel="stylesheet" href="__PUBLIC__/source/libs/reset.css">
  <link rel="stylesheet" href="__PUBLIC__/css/login/juyuwang.css">
  <script type="text/javascript" src="__PUBLIC__/source/libs/jquery.js"></script>
</head>
<body>
  <!-- 一带一路建设网标题 -->
  <div class="oneTitle clear">
    <!-- 标题图片 -->
    <div class="titleImage"></div>
    <div class="titleNav">
      <!-- 一带一路一行导航 -->
      <ul class="titleBlue">
        <li><a href="http://www.cupoftea.cn">中国一带一路建设网首页</a></li>
      </ul>
      <ul class="titleBlack">
        <li>登录</li>
        <li>&</li>
        <li>注册</li>
        <li>&</li>
        <li>局域网</li>
      </ul>
    </div>
  </div>
  <!-- 蓝色横线 -->
  <hr style=" height:2px;border:none;border-top:2px solid #007fdd;">
  <!-- 注册登录模块 -->
  <div class="login">
    <!-- 广告 -->
    <div class="loginAd"></div>
    <div class="denglu">
      <p class="denglup">&nbsp;局域网</p>
      <input type="text" placeholder="请输入您的手机号">
      <input type="text" placeholder="请输入您的密码">
      <div class="tishi">
        <span class="error">您输入的账号或密码错误，请重新输入</span>
      </div>
      <div class="loginSure">登录</div>
    </div>
  </div>
</body>
</html>
